<div class="listeVips">
    <img src="/images/vips.png"  alt="VIPs"/>
    <ul>
        {{#each listeVips}}
            <li><a href="/articles/vip/{{this.vipNumero}}">{{this.vipPrenom}} {{this.vipNom}}</a></li>
        {{/each}}
    </ul>
</div>