<div id="formConnexion">
    <h1>Déconnexion</h1>
    <p>Déconnexion en cours, veuillez patienter, ou <a href="/">cliquer ici</a> si vous n'êtes pas redirigé.</p>
</div>
<script>
    setTimeout(function () {
        window.location = "/";
    }, 2000)
</script>