{{#ifCond resultatModification '===' true}}
    <div class="insertionReussie">
        <h2>Modification Réussie !</h2>
        <p>La modification a réussie. <a href="/modifierVip">Cliquez ici</a> pour retourner à l'écran précédant et ajouter un autre VIP.</p>
    </div>
{{else}}
    <div class="insertionEchouee">
        <h2>Modification Échouée !</h2>
        <p>La modification a échouée. <a href="/modifierVip">Cliquez ici</a> pour retourner à l'écran précédant et réessayer.</p>
    </div>
{{/ifCond}}