<h1> Album Photo </h1>
<div id="albumPhotoVip">
    <p>Sélectionnez un VIP sur la droite pour voir son album...</p>
    <div id="commentairePhoto">
        <h4>Commentaire</h4>
    </div>
</div>
{{> listerAlbumAside }}
{{> scriptGrillesAlbum }}
