{{> listeLettres }}

<div class="dataVip">
    <img src="/images/vip/{{photoOfficielle}}" alt="{{nomPrenomVip}}" />
    {{> nomPrenom }}
    {{> infoNaissance }}
    {{> infoNationalite }}
    {{> infoFilms }}
    {{> infoDefiles }}
    {{> infoMariages }}
    {{> infoLiaisons }}
    {{> quiSuisJe }}
    {{> gallerieVip }}
</div>
