body {
    font-family: "Segoe UI", "DejaVu Sans", Verdana, sans-serif;
    background-image: -webkit-linear-gradient(#9f0909, #4e0000);
    background-image: -o-linear-gradient(#9f0909, #4e0000);
    background-image: linear-gradient(#9f0909, #4e0000);
    background-size: 1rem 200rem;
    font-size: 0.8em;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #000000;
}

.monBody #container {
    width: 1300px;
    margin: 0 auto;
    background: #ffffff;
}

.monBody #header {
    height: 140px;
    background-color: #000;
    color: #fff;
}

.menu_haut {
    background-color: #000;
    color: #fff;
    margin-top: -13px;
    width: 100%;
}

.menu_haut ul {
    width: 100%;
    text-align: center;
    height: 30px;
    margin-left: -50px;
    margin-right: -50px;
}

.menu_haut li {
    text-decoration: none;
    font-weight: bold;
    display: inline;
    font-size: 14px;
    padding: 10px 10px 10px 10px;
    color: #fff;
}

.menu_haut li a {
    color: #fff;
    text-decoration: none;
    display: inline;
    height: 100%;
    border: 0 none;
}

.menu_haut li a:hover {
    color: #000;
    background: #eee;
}

.monBody #contenu {
    padding: 20px;
    overflow: auto;
}

.monBody #footer {
    padding: 0 10px;
    font-size: 0.8em;
    text-align: center;
    height: 150px;
    background: url(/image/footer.jpg) no-repeat;
}

.baniere {
    float: left;
    margin-top: 20px;
    margin-left: 5px;
    border: none;
}

.baniere img {
    border: none;
}

#LogoNode {
    max-height: 20%;
    max-width: 20%;
}

a {
    text-decoration: none;
    color: #0072ff;
}

.traitVertical {
    border-left: 1px white solid;
}

.blockVip {
    display: inline-block;
    margin-left: 5%;
}

.blockVip > img {
    height: 25vh;
}

.listeLettres {
    margin-bottom: 1.5%;
}

.listeLettres > p {
    display: inline;
}

.dataVip {
    text-align: left;
}

.dataVip > img {
    display: inline-block;
    float: left;
    margin-right: 0.5%;
}

.dataVip > div {
    margin-bottom: 1%;
}

.infosNaissance > *, .infosNomPrenom > *, .infosNationatlite > *, .infosQuiSuisJe > * {
    display: inline;
}

.infoFilms > h4 + p, .infoFilms > h4, .infosMariages > h4 + p, .infosMariages > h4{
    display: inline;
}

.infoFilms > *, .infosMariages > *, .infosLiaisons > * {
    margin-top: 0;
    margin-bottom: 0;
}

.infoFilms :nth-child(3){
    display: block;
}

.infoDefiles :nth-child(1), .infoDefiles :nth-child(2) {
    display: inline;
}

.infoDefiles > * {
    margin-top: 0;
    margin-bottom: 0;
}

.infosLiaisons > h4, .infosLiaisons > h4 + p {
    display: inline;
}

.gallery > a > img {
    height: 25vh;
}


/* ================== Articles ================== */

/* Zone Article */
.zoneArticle {
    border: 1px solid black;
    width: 50%;
    display: inline-block;
    vertical-align: top;
    text-align: left;
}

.zoneArticle > h3 {
    margin-left: 2%;
    margin-top: -1.5%;
    width: 8%;
    padding-left: 0.5%;
    background: white;
}

.zoneArticle > p {
    margin-left: 1%;
    margin-top: -1.5%;
}

/* Liste VIP */
.listeVips {
    width: 15%;
    text-align: center;
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;
    margin-left: 10%;
}

.listeVips > img {
    padding: 0 32.60%;
    background-color: black;
}

.listeVips > ul {
    margin-left: -20%;
    list-style-type: none;
}

.listeVips > ul > li {
    text-decoration: underline;
}

.listeVips > ul > li > a {
    color: black;
}

