body {
    font-family: "Segoe UI", "DejaVu Sans", Verdana, sans-serif;
    background-image: -webkit-linear-gradient(#9f0909, #4e0000);
    background-image: -o-linear-gradient(#9f0909, #4e0000);
    background-image: linear-gradient(#9f0909, #4e0000);
    background-size: 1rem 200rem;
    font-size: 0.8em;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #000000;
}

.monBody #container {
    width: 1300px;
    margin: 0 auto;
    background: #ffffff;
}

.monBody #header {
    height: 140px;
    background-color: #000;
    color: #fff;
}

.menu_haut {
    background-color: #000;
    color: #fff;
    margin-top: -13px;
    width: 100%;
}

.menu_haut ul {
    width: 100%;
    text-align: center;
    height: 30px;
    margin-left: -50px;
    margin-right: -50px;
}

.menu_haut li {
    text-decoration: none;
    font-weight: bold;
    display: inline;
    font-size: 14px;
    padding: 10px 10px 10px 10px;
    color: #fff;
}

.menu_haut li a {
    color: #fff;
    text-decoration: none;
    display: inline;
    height: 100%;
    border: 0 none;
}

.menu_haut li a:hover {
    color: #000;
    background: #eee;
}

.monBody #contenu {
    padding: 20px;
    overflow: auto;
}

.monBody #footer {
    padding: 0 10px;
    font-size: 0.8em;
    text-align: center;
    height: 150px;
    background: url(/image/footer.jpg) no-repeat;
}

.baniere {
    float: left;
    margin-top: 20px;
    margin-left: 5px;
    border: none;
}

.baniere img {
    border: none;
}

#LogoNode {
    max-height: 20%;
    max-width: 20%;
}

a {
    text-decoration: none;
    color: #0072ff;
}

.traitVertical {
    border-left: 1px white solid;
}

.blockVip {
    display: inline-block;
    margin-left: 5%;
}

.blockVip > img {
    height: 25vh;
}

.listeLettres {
    margin-bottom: 1.5%;
}

.listeLettres > p {
    display: inline;
}

.dataVip {
    text-align: left;
}

.dataVip > img {
    display: inline-block;
    float: left;
    margin-right: 0.5%;
}

.dataVip > div {
    margin-bottom: 1%;
}

.infosNaissance > *, .infosNomPrenom > *, .infosNationatlite > *, .infosQuiSuisJe > * {
    display: inline;
}

.infoFilms > h4 + p, .infoFilms > h4, .infosMariages > h4 + p, .infosMariages > h4{
    display: inline;
}

.infoFilms > *, .infosMariages > *, .infosLiaisons > * {
    margin-top: 0;
    margin-bottom: 0;
}

.infoFilms :nth-child(3){
    display: block;
}

.infoDefiles :nth-child(1), .infoDefiles :nth-child(2) {
    display: inline;
}

.infoDefiles > * {
    margin-top: 0;
    margin-bottom: 0;
}

.infosLiaisons > h4, .infosLiaisons > h4 + p {
    display: inline;
}

.gallery > a > img {
    height: 25vh;
}


/* ================== Articles ================== */

/* Zone Article */
.zoneArticle {
    border: 1px solid black;
    width: 50%;
    display: inline-block;
    vertical-align: top;
    text-align: left;
}

.zoneArticle > h4 {
    margin-left: 1.5%;
    margin-top: -1.5%;
    width: 7%;
    padding-left: 0.5%;
    background: white;
}

.zoneArticle > h3 {
    text-decoration: underline;
    margin-left: 1%;
    margin-top: -2.5%;
    font-weight: normal;
    padding-bottom: 1%;
}

.zoneArticle > p + p {
    background: #DDD;
    width: 98%;
}

.zoneArticle > p + p > a {
    color: black;
    text-decoration: underline;
    margin-left: 64%;
}

.zoneArticle > p {
    margin-left: 1%;
    margin-top: -1.5%;
}

/* Liste VIP */
.listeVips {
    width: 15%;
    text-align: center;
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;
    margin-left: 10%;
}

.listeVips > img {
    padding: 0 32.60%;
    background-color: black;
}

.listeVips > ul {
    margin-left: -20%;
    list-style-type: none;
}

.listeVips > ul > li {
    text-decoration: underline;
}

.listeVips > ul > li > a {
    color: black;
}

/* Album VIP */
#albumPhotoVip {
    border: 1px solid black;
    width: 65%;
    display: inline-block;
}

#commentairePhoto {
    border: 1px solid black;
    width: 80%;
    display: inline-block;
    margin-bottom: 1%;
}

#commentairePhoto > h4 {
    margin-left: 1.5%;
    margin-top: -1.5%;
    width: 15%;
    background: white;
}

#albumPhotoVipAside {
    border: 1px solid black;
    display: inline-block;
    vertical-align: top;
}

[id^=albumGrilleVip] {
    width: 220px;
    padding-top: 2%;
}

[id^=albumGrilleVip] img {
    width: 48px;
    height: 96px;
}

[id^=imgAlbumVip] {
    display: block;
    margin: 0 auto 2%;
}

#photoEtCommentairePrecedant, #photoEtCommentaireSuivant {
    border: 1px solid black;
    margin-bottom: 1%;
}


/* ========================== [ ^ PAGES CLIENT ^ ] ========================== */
/* ========================================================================== */
/* ========================== [ V PARTIE ADMIN V ] ========================== */

/* Connexion - Admin */
#formConnexion {
    background: black;
    color: white;
    padding-bottom: 1%;
}

#formConnexion > form {
    width: 50%;
    margin: 0 auto;
}

.formConnexionChamp {
    margin-bottom: 2%;
}

.formConnexionBoutons {
    margin-bottom: 2%;
}

/* Ajout VIP */

#ajoutVip {
    border: 1px solid black;
    width: 80%;
    display: inline-block;
    vertical-align: top;
    text-align: left;
}

#ajoutVip > h4 {
    margin-left: 2.5%;
    margin-top: -1%;
    width: 7%;
    padding-left: 0.5%;
    background: white;
}

.formAjoutVip {
    margin-top: 1.5%;
}

.formAjoutVip > label {
    margin-left: 3%;
    width: 18%;
    display: inline-block;
}

label[for="commentaireVip"], label[for="commentairePhotoVip"], label[for="commentairePhoto"] {
    float: left;
}

#ajoutVip > form > input[type="submit"] {
    display: block;
    margin: 1% auto;
}

textarea {
    resize: none;
    margin-left: 0.3%;
}

/* Header - Admin */
.login {
    display: inline-block;
    float: right;
    margin-top: 3%;
    margin-right: 10%;
    width: 15%;
    border: 1px solid white;
}

.login a {
    color: white;
}

.login p:last-child {
    margin-left: 5%;
    font-style: italic;
}

.login p {
    display: inline-block;
}

/* Menu gauche avec les options d'administration */
.listeVipsAdmin {
    width: 10%;
    text-align: center;
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;
    float: left;
    margin-left: 3%;
    background-color: black;
}

.listeVipsAdmin > img {
    padding: 0 32.60%;
    margin-top: 5%;
    margin-left: -7.5%;
}

.listeVipsAdmin > ul {
    margin-left: -31%;
    list-style-type: none;
}

.listeVipsAdmin > ul > li {
    border-top: 1px solid white;
    padding-top: 4%;
    padding-bottom: 4%;
    font-size: 120%;
    text-decoration: underline;
}

.listeVipsAdmin > ul > li > a {
    color: white;
    font-weight: bold;
}

/* Menu gauche avec options photo */
.listePhotosAdmin {
    width: 10%;
    text-align: center;
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;
    float: left;
    margin-left: 3%;
    background-color: black;
}

.listePhotosAdmin > img {
    padding: 0 32.60%;
    margin-top: 5%;
    margin-left: -20.5%;
}

.listePhotosAdmin > ul {
    margin-left: -31%;
    list-style-type: none;
}

.listePhotosAdmin > ul > li {
    border-top: 1px solid white;
    padding-top: 4%;
    padding-bottom: 4%;
    font-size: 120%;
    text-decoration: underline;
}

.listePhotosAdmin > ul > li > a {
    color: white;
    font-weight: bold;
}

/* Ajouter Photo */
#ajoutPhoto {
    border: 1px solid black;
    width: 80%;
    display: inline-block;
    vertical-align: top;
    text-align: left;
}

#ajoutPhoto > h4 {
    margin-left: 2.5%;
    margin-top: -1%;
    width: 9.15%;
    padding-left: 0.5%;
    background: white;
}

#ajoutPhoto > form > div > label {
    font-weight: bold;
}

.formAjoutPhoto {
    margin-top: 1.5%;
}

.formAjoutPhoto > label {
    margin-left: 3%;
    width: 18%;
    display: inline-block;
}

.formAjoutPhotoControls {
    text-align: center;
}

.formAjoutPhotoControls > input {
    display: inline-block;
    margin: 1% auto;
}

/* Résultat insertion */
.insertionReussie {
    background: #00DD7F;
    color: #44802F;

}

.insertionEchouee {
    background: #00DD7F;
    color: #44802F;
}