<div id="ajoutVip">
    <h4>Ajout VIPs</h4>
    <form method="post" action="confirmerAjoutVip" enctype="multipart/form-data">
        <div class="formAjoutVip">
            <label for="nomVip">Nom* : </label>
            <input type="text" name="nomVip" id="nomVip" required/>
        </div>
        <div class="formAjoutVip">
            <label for="prenomVip">Prénom* : </label>
            <input type="text" name="prenomVip" id="prenomVip" required/>
        </div>
        <div class="formAjoutVip">
            <label for="genreVip">Sexe : </label>
            <select id="genreVip" name="genreVip">
                <option value="M">Masculin</option>
                <option value="F">Féminin</option>
            </select>
        </div>
        <div class="formAjoutVip">
            <label for="naissanceVip">Date de naissance : </label>
            <input type="date" name="naissanceVip" id="naissanceVip" required/>
        </div>
        <div class="formAjoutVip">
            <label for="nationaliteVip">Nationalité : </label>
            <select id="nationaliteVip" name="nationaliteVip">
                {{#each nationalites}}
                    <option value="{{this.numero}}">{{this.nom}}</option>
                {{/each}}
            </select>
        </div>
        <div class="formAjoutVip">
            <label for="commentaireVip">Commentaire : </label>
            <textarea name="commentaireVip" id="commentaireVip" rows="6" cols="50"></textarea>
        </div>
        <div class="formAjoutVip">
            <label for="imageVip">Sélectionner l'image : </label>
            <input type="file" name="imageVip" id="imageVip" accept="image/x-png,image/gif,image/jpeg" required/>
        </div>
        <div class="formAjoutVip">
            <label for="sujetImageVip">Sujet de l'image : </label>
            <input type="text" name="sujetImageVip" id="sujetImageVip" />
        </div>
        <div class="formAjoutVip">
            <label for="commentairePhotoVip">Commentaire de la photo : </label>
            <textarea name="commentairePhotoVip" id="commentairePhotoVip" rows="6" cols="50"></textarea>
        </div>
        <input type="submit" value="Ajouter le VIP" />
    </form>
</div>