<div class="listeVipsAdmin">
    <img src="/images/vips.png"  alt="VIPs"/>
    <ul>
        <li><a href="/ajouterVip">Ajouter</a></li>
        <li><a href="/modifierVip">Modifier</a></li>
        <li><a href="/supprimerVip">Supprimer</a></li>
    </ul>
</div>