<div class="listePhotosAdmin">
    <img src="/images/photos.png" alt="Photos"/>
    <ul>
        <li><a href="ajouterPhoto">Ajouter</a></li>
        <li><a href="supprimerPhoto">Supprimer</a></li>
    </ul>
</div>