<div class="listePhotosAdmin">
    <img src="/images/photos.png" alt="Photos"/>
    <ul>
        <li><a href="/ajouterVip">Ajouter</a></li>
        <li><a href="/supprimerVip">Supprimer</a></li>
    </ul>
</div>