<h4>Modifier VIP</h4>
<form method="post" action="modifierDonneesVip">
    <label for="vipSelectionne">Sélectionnez le VIP à modifier: </label>
    <select name="vipSelectionne" id="vipSelectionne">
        {{#each vips}}
            <option value="{{this.vipNumero}}">{{this.vipNom}} {{this.vipPrenom}}</option>
        {{/each}}
    </select>
    <input type="submit" value="Modifier le VIP">
</form>